.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 1000px) and (min-width:601px) {
  [class*="col-"] {
    width: 50%;};
}
@media screen and (max-width: 600px)  {
  [class*="col-"] {
    width: 100%;
  }
  .phan-tu{
    display: none;
  }
}
/* @media only screen and (max-width: 600px) { */

body {
  margin: 0px;
}
.body-bag {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header{
    border-bottom: 1px solid rgb(154, 148, 148);
    background-color: #b0a6a6;
    display: flex;
    height: 20%;
    margin: 0 auto;
    justify-content: space-between;
}
.header ul li a img{
    width: 30px;
    height: 100%;
}
.header ul {
    display: flex;
    align-items: center;
}
.header ul li{
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.search{
    height: 100%;
}
.search>input{
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px; 
    height: 45px;
    border-radius: 50px;
    border:1px solid lightgray;
}
.content{
    display: flex;
    margin: 0 auto;
}